table, th, td{
    border: 1px solid black
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F1172854069%2F749833527253%2F1%2Foriginal.20251212-185851?crop=focalpoint&fit=crop&w=600&auto=format%2Ccompress&q=75&sharp=10&fp-x=0.493&fp-y=0.659&s=42f0cb1aec110dc0042d0fb4fdcdfe92");

  background-size: cover;
  background-position: center;
  background-position:center;
          background-repeat: no-repeat;
          background-size: cover
}
table {
  margin: 40px auto;
  background-color: transparent; 
  border-collapse: collapse;
  min-width: 400px;
}
h1{
    
    text-align: center;
  color: lightgreen;    
  margin-top: 40px
  text-shadow: 2px 2px 4px black;
}
h2{
    text-align: center;
    color: lightgreen;
    margin-top: 40px
    text-shadow: 2px 2px 4px black;
}

