*{
  padding: 0;
  margin: 0;
  font-size: 40px;
   box-sizing: border-box;
}
.box-one{
  background-color: red;
  padding: 10px;
  height: 400px;
  width: 400px;
  border: 20px solid violet;
  margin:100px;
 
}

.box-two{
    background-color: aqua;
    padding: 100px;
  height: 400px;
  width: 400px;
  border: 30px solid greenyellow;
  margin:70px;
}